# From Pandas to PopART:

## Converting spreadsheet data to a popART traits file

### Workflow: ###
*Import*
- packages
- data

*Dataframe Setup*
- Set your traits column
- Change "Use_name" settings if needed

**No user input required again until finished!**

*Run Code: Formatting Dataframes*
- use_name() function
- remove extraneous columns
- dummy values
- export without headers to csv - convert csv to txt

*Run Code: Creating PopART Text File*
- format matrix
- Traitlabels and NTRAITS
- format popART text block
- save as txt
- append to nexus file **(user input required here)**

**Note: 2 files will be created**
- **pART_traits.txt** is the popART traits file containing everything you need for the popART traits block and matrix (this is the one you want to save, and the one that will be appended to the nexus file you specify).
- **pART_matrix.txt** is just the traits matrix. It is a useful file to check if anything does not look as expected in the pART_traits file.

### Import

Import packages needed

In [1]:
import pandas as pd
import numpy as np

**Import Data**: provide your file name here

In [2]:
df = pd.read_csv('thermi_testC.csv')
df

,Sample_name,BIC_Accession,Genus,Species,Locality,Latitude,Longitude
0,PB4088,A7969,Thermiphione,rapanui,Southern,-37.80,-110.92
1,PBS4088,A7970,Thermiphione,rapanui,Southern,-37.80,-110.92
2,PB4096A,A7971,Thermiphione,rapanui,Easter_Island,-23.55,-115.57
3,PB4096C,A7972,Thermiphione,rapanui,Easter_Island,-23.55,-115.57

In [4]:
# (Optional) if your file does not have all lowercase headers:

df.columns = [x.lower() for x in df.columns]
df

,sample_name,bic_accession,genus,species,locality,latitude,longitude
0,PB4088,A7969,Thermiphione,rapanui,Southern,-37.80,-110.92
1,PBS4088,A7970,Thermiphione,rapanui,Southern,-37.80,-110.92
2,PB4096A,A7971,Thermiphione,rapanui,Easter_Island,-23.55,-115.57
3,PB4096C,A7972,Thermiphione,rapanui,Easter_Island,-23.55,-115.57

### Dataframe Setup

**Set Traits Column**:
set column that will be analyzed as 'Traits'

In [5]:
def get_traits():
    df['traits'] = df['locality']
get_traits()
df

,sample_name,bic_accession,genus,species,locality,latitude,longitude,traits
0,PB4088,A7969,Thermiphione,rapanui,Southern,-37.80,-110.92,Southern
1,PBS4088,A7970,Thermiphione,rapanui,Southern,-37.80,-110.92,Southern
2,PB4096A,A7971,Thermiphione,rapanui,Easter_Island,-23.55,-115.57,Easter_Island
3,PB4096C,A7972,Thermiphione,rapanui,Easter_Island,-23.55,-115.57,Easter_Island

### Use_name
This is the name that will be used to create the popART matrix. You have two options, explained below:

**Option 1:**

`use_name()` function creates a new "Use_name" column that concatenates the Genus, species, and the sample name columns, separated by underscores. This is the name that will be used for the popART matrix.
- **Note**: Your columns can be in any order in the dataframe, but must be capitalized like this (no spaces): Genus, Species, Sample_name

`def use_name():
    df2['Use_name'] = df2[['Genus', 'Species', 
                             'Sample_Name']].apply(lambda x: '_'.join(x), axis=1)`

**Option 2:**
`use_orig()` function copies your "Sample_name" column into the "Use_name" column so that only the sample names will be used to create the matrix (use this option if Genus/species are not available)

`def use_orig():
    df2['Use_name'] = df2['Sample_name']`

In [6]:
def use_name():
    df['use_name'] = df[['genus', 'species', 
                             'sample_name']].apply(lambda x: '_'.join(x), axis=1)
use_name()
df

,sample_name,bic_accession,genus,species,locality,latitude,longitude,traits,use_name
0,PB4088,A7969,Thermiphione,rapanui,Southern,-37.80,-110.92,Southern,Thermiphione_rapanui_PB4088
1,PBS4088,A7970,Thermiphione,rapanui,Southern,-37.80,-110.92,Southern,Thermiphione_rapanui_PBS4088
2,PB4096A,A7971,Thermiphione,rapanui,Easter_Island,-23.55,-115.57,Easter_Island,Thermiphione_rapanui_PB4096A
3,PB4096C,A7972,Thermiphione,rapanui,Easter_Island,-23.55,-115.57,Easter_Island,Thermiphione_rapanui_PB4096C

**OR...**

In [8]:
def use_orig():
    df['use_name'] = df['sample_name']
use_orig()
df

,sample_name,bic_accession,genus,species,locality,latitude,longitude,traits,use_name
0,PB4088,A7969,Thermiphione,rapanui,Southern,-37.80,-110.92,Southern,PB4088
1,PBS4088,A7970,Thermiphione,rapanui,Southern,-37.80,-110.92,Southern,PBS4088
2,PB4096A,A7971,Thermiphione,rapanui,Easter_Island,-23.55,-115.57,Easter_Island,PB4096A
3,PB4096C,A7972,Thermiphione,rapanui,Easter_Island,-23.55,-115.57,Easter_Island,PB4096C

### Setup Finished! 
Run the rest of the code as is to get your finished popART traits file.

### Run this code: Formatting Dataframes
Remove extraneous columns

In [10]:
df2 = df[['use_name', 'traits']]
df2

  use_name         traits
0   PB4088       Southern
1  PBS4088       Southern
2  PB4096A  Easter_Island
3  PB4096C  Easter_Island

Set dummy values for popART (1's and 0's)

In [12]:
# Creates dummy values (1 and 0) and concatenates them with the traits dataframe
df2_matrix = pd.get_dummies(df2['traits']) # must keep this dataframe for use later
df3 = pd.concat([df2, df2_matrix], axis=1)
del df3['traits'] # This deletes the Traits column
df3

  use_name  Easter_Island  Southern
0   PB4088              0         1
1  PBS4088              0         1
2  PB4096A              1         0
3  PB4096C              1         0

Export to get a text file

In [13]:
# Save as csv without headers
df3.to_csv('p_matrix.csv', header=None,index=False)
# Convert to txt KEEPING commas

In [16]:
%%bash
mv p_matrix.csv p_matrix.txt # bash; save as a text file

### Run this code: Creating PopART Text File

**Matrix**: open the matrix file and format commas and white space to match requirements for popART

In [17]:
# Check format of file so far:
tx1 = open('p_matrix.txt')
print(tx1.read())

PB4088,0,1
PBS4088,0,1
PB4096A,1,0
PB4096C,1,0

In [18]:
# Replace the first comma with 2 spaces
with open("p_matrix.txt") as in_file, open("pART_matrix.txt", "w") as out_file:
    for line in in_file:
        out_file.write(line.replace(',', '  ', 1))

# Add ending format to file
outfile = 'pART_matrix.txt'
with open(outfile, 'a') as target:
    target.write(";")
    target.write("\n")
    target.write("\n")
    target.write("END;")
    target.write("\n")

In [19]:
# Check format of file so far:
tx1 = open('pART_matrix.txt')
print(tx1.read())

PB4088  0,1
PBS4088  0,1
PB4096A  1,0
PB4096C  1,0
;

END;

In [20]:
%%bash
rm 'p_matrix.txt' # Remove 'p_matrix.txt' because it is no longer needed

**TraitLabels**: this sets the TraitLabels in the popART file based on the `df_matrix` created above

In [22]:
# Make traitlabels from imported dataframe
labels = list(df2_matrix.columns.values)
labels # print output to confirm

['Easter_Island', 'Southern']

**NTRAITS**: This sets the NTRAITS in the popART file based on the `df_matrix` created above

In [23]:
# Make NTRAITS from imported dataframe and convert to string
ntraits = len(df2_matrix.columns)
ntraits = str(ntraits) # convert to string format
ntraits # print output to confirm

'2'

In [24]:
# Confirm that ntraits are str not int
type(ntraits)

str

**Write and fill final popART file**:

First the text block for the file is created, then the matrix is appended to it

In [25]:
outfile = 'pART_traits.txt'
with open(outfile, 'w') as target:
    target.write("BEGIN TRAITS;")
    target.write("\n")
    target.write("[This is the traits block specific to PopART. Check that NTRAITS matches the number of traits and they are in the same order as the matrix.]")
    target.write("\n")
    target.write("\tDimensions NTRAITS=")
    for item in ntraits:
        target.write("%s;" % item)
    target.write("\n")
    target.write("\tFormat labels=yes missing=? separator=Comma;")
    target.write("\n")
    target.write("\tTraitlabels")
    for item in labels:
      target.write(" %s" % item)
    target.write(";")
    target.write("\n")
    target.write("\tMatrix")
    target.write("\n")

In [27]:
# Check format of file so far:
tx1 = open('pART_traits.txt')
print(tx1.read())

BEGIN TRAITS;
[This is the traits block specific to PopART. Check that NTRAITS matches the number of traits and they are in the same order as the matrix.]
	Dimensions NTRAITS=2;
	Format labels=yes missing=? separator=Comma;
	Traitlabels Easter_Island Southern;
	Matrix

#### Concatenate Matrix and popART Files

In [28]:
%%bash
cat pART_matrix.txt >> pART_traits.txt

In [29]:
# Check format of file:
tx1 = open('pART_traits.txt')
print(tx1.read())

BEGIN TRAITS;
[This is the traits block specific to PopART. Check that NTRAITS matches the number of traits and they are in the same order as the matrix.]
	Dimensions NTRAITS=2;
	Format labels=yes missing=? separator=Comma;
	Traitlabels Easter_Island Southern;
	Matrix
PB4088  0,1
PBS4088  0,1
PB4096A  1,0
PB4096C  1,0
;

END;

Append this to our nexus file for use in popART:

In [30]:
%%bash
cp thermi_testN.nex thermi_testN_pART.nex
cat pART_traits.txt >> thermi_testN_pART.nex